<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
  <h1>Bem vindo ao SCVE ! </h1>

</div>

</section>
  <div>
       <h4 class="card-header">Resumo de cadastros </h4>
       <div class="card-block">
         <table class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th>Usuarios</th>
              <th>Produtos</th>
              <th>Fornecedores</th>
              <th>Vendas</th>
              <th>Clientes</th>
            </tr>
          </thead>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             </table>
           </div>
      </div>  


